.profile__edit-button {
    grid-area: button;
    padding: 0;
    align-self: center;
    background-image: url(../../../images/EditButton.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    box-shadow: none;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    transition: opacity .3s linear;
}

.profile__edit-button:hover {
    opacity: .6;
}

@media screen and (max-width: 879px) {    
    .profile__edit-button {
        border: none;
        margin-left: 10px;
        background-size: 18px 18px;
    }
}