@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

.body {
    background-color: #000000;
}

.page {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    padding: 0;
    color: #FFFFFF;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
}

.header {
    margin: 45px 0 0 0;
    border-bottom: 1px solid #545454;
}

@media screen and (max-width: 879px) {    
    .header {
        margin: 28px 0 0 0;
        padding: 0 27px;
    }
}

.header__logo {
    width: 142px;
    object-fit: contain;
    margin-bottom: 40px;   
}

.profile {
    margin: 40px 0 0 0;
    display: grid;
    grid-template-columns: 120px 336px 1fr;
    column-gap: 30px;
    align-items: center;
}

@media screen and (max-width: 879px) {    
    .profile {
        width: 282px;
        margin: 42px auto 0 auto;
        grid-template-columns: 282px;
        grid-template-rows: repeat(3, auto);
        row-gap: 36px;
        justify-items: center;
    }
}

.profile__avatar {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.profile__info {
    display: grid;
    grid-template-columns: 1fr 24px;
    gap: 16px 18px;
    grid-template-areas: 
    "name button"
    "description .";
    align-items: center;
}

@media screen and (max-width: 879px) {    
    .profile__info {
        gap: 14px 0;
    }
}

.profile__info-name {
    grid-area: name;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 879px) {    
    .profile__info-name {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
    }
}

.profile__info-description {
    grid-area: description;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 879px) {    
    .profile__info-description {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}

.profile__edit-button {
    grid-area: button;
    padding: 0;
    align-self: center;
    background-image: url(./images/EditButton.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    box-shadow: none;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    transition: opacity .3s linear;
}

.profile__edit-button:hover {
    opacity: .6;
}

@media screen and (max-width: 879px) {    
    .profile__edit-button {
        width: 18px;
        height: 18px;
        margin-left: 10px;
    }
}

.profile__add-button {
    background-image: url(./images/AddButton.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 150px;
    height: 50px;
    padding: 0;
    border: 2px solid #FFFFFF;
    background-color: transparent;
    justify-self: end;
    background-color: transparent;
    box-shadow: none;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    transition: opacity .3s linear;
}

.profile__add-button:hover {
    opacity: .6;
}

@media screen and (max-width: 879px) {    
    .profile__add-button {
        width: 100%;
        justify-self: center;
    }
}

.elements {
    margin: 50px 0 66px 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px 17px;
    justify-content: center;
    grid-auto-rows: auto;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 879px) {    
    .elements {
        margin: 36px auto 48px auto;
        width: 282px;
        grid-template-columns: repeat(1, auto);
        gap: 20px 0;
    }
}

.element {
    margin: 0;
    padding: 0;
    width: 282px;
    box-sizing: border-box;
    border-radius: 10px;
    color: #000000;
    overflow: hidden;
    background-color: #FFFFFF;
}

.element__image {
    width: 100%;
    height: 282px;
    object-fit: cover;
}

.element__group {
    margin: 25px 15px 31px 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.element__title {
    margin: 0;
    padding: 0;
    width: 90%;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.element__like-button {
    background-image: url(./images/heartlike.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    width: 22px;
    height: 19px;
    padding: 0;
    cursor: pointer;
    outline: none;
    transition: opacity .3s linear;
}

.element__like-button:hover {
    opacity: .6;
}

.footer {
    max-width: 880px;
    margin: 0 0 60px 0;
    box-sizing: border-box;
}

@media screen and (max-width: 879px) {    
    .footer {
        width: 282px;
        margin: 0 auto 36px auto;
    }
}

.footer__copyright {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
}

@media screen and (max-width: 879px) {    
    .footer__copyright {
        font-size: 14px;
        line-height: 17px;
    }
}