.popup__container {
    background: #FFFFFF;
    max-width: 430px;
    min-height: 330px;
    border-radius: 10px;
    width: 100%;
    position: relative;
    color: #000000;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 879px) {    
    .popup__container {
        max-width: 282px;
        margin: 0 auto;
    }
}