.header__logo {
    width: 142px;
    object-fit: contain;
    margin-bottom: 40px;   
}

@media screen and (max-width: 879px) {    
    .header__logo {
        width: 104px;
        margin-bottom: 31px;
    }
}