.popup__form {
    display: flex;
    flex-direction: column;
    max-width: 358px;
    margin: 0 auto;
    border: none;
    padding: 0;
}

@media screen and (max-width: 879px) {
    .popup__form{
        max-width: 238px;
    }
}