.elements {
    margin: 50px 0 66px 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px 17px;
    justify-content: center;
    grid-auto-rows: auto;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 879px) {    
    .elements {
        margin: 36px auto 48px auto;
        width: 282px;
        grid-template-columns: repeat(1, auto);
        gap: 20px 0;
    }
}