.element__like-button_active {
    background-image: url(../../../../images/likeActive.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    width: 22px;
    height: 19px;
    padding: 0;
    outline: none;
}