.element__like-button {
    background-image: url(../../../images/heartlike.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    width: 22px;
    height: 19px;
    padding: 0;
    cursor: pointer;
    outline: none;
    transition: opacity .3s linear;
}

.element__like-button:hover {
    opacity: .6;
}