.error-message {
    color: #ff0000;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    padding: 0;
    opacity: 0;
}

.error-message_visible {
    opacity: 1;
}